<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688799594718-07g7r6lv1k1c141b6f6iot2lj0eelnbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688799594718-07g7r6lv1k1c141b6f6iot2lj0eelnbs</string>
	<key>API_KEY</key>
	<string>AIzaSyCb-wUOIbuGf6LV5_1MX8azOyZZCmf9z8U</string>
	<key>GCM_SENDER_ID</key>
	<string>688799594718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>mountaindew-5d9a9</string>
	<key>STORAGE_BUCKET</key>
	<string>mountaindew-5d9a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688799594718:ios:ecd854583f4a9a2134aa4f</string>
</dict>
</plist>